{{!-- <h2>
    All Movies
</h2>

<ul>
    {{#each allCelebs}}

    <li>{{this.name}} //
        <a href="/celebrities/{{this.id}}">ID</a>
        <a href="/celebrities/{{this.id}}/edit">EDIT</a>
        <a href="/celebrities/{{this.id}}/delete">Delete</a>


    </li>
    {{/each}}
</ul>

<a href="/celebrities/new">Create a new one!</a> --}}